{% extends "layouts/master.twig" %}

{% block content %}

    {% if infos.type == 'medium' %}
        {% set me = null %}
        {% for medium in infos.mediums %}
            {% if medium.username == infos.username %}
                {% set me = medium %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="game_container">
        <div class="menu_container">
            <img src="http://cdn2.trictrac.net/documents/formats/dynamic/fa/c0/01f57e520baa35836c6cc8db52356fcb/documents/originals/86/15/9b65092f3d01c66b622768c6950a4b722019.png">
        </div>
        <div class="game_content">
            <div class="player_list">
            {% for medium in infos.mediums %}
                <div class="player_list_item  
                            {% if medium.username == me.username %} me {% endif %}
                            {% if medium.hasPlayed %} played {% endif %}">
                    <div class="player_list_item_pseudo">{{ medium.initial|upper }}</div>
                </div>
            {% endfor %}
            </div>

            <div class="card_selected">
                <div class="card_selected_content">
                    {% if infos.type == 'medium' %}
                        <img src="/images/cards/{{ me.cards[0] }}.png">
                        <div class="card_selected_btn">Choisir</div>
                    {% else %}
                        <img src="/images/cards/{{ infos.mediums[0].cards[0] }}.png">
                    {% endif %}
                </div>
            </div>

            <div class="cards_hand">
                <div class="cards_hand_detail">
                    <img src="/images/cards/{{ infos.type == 'medium' ? me.visions[0]|default('default') : infos.hand[0] }}.png">
                </div>

                <div class="cards_hand_list">
                    {% if infos.type == "ghost" %}
                        <form id="hand_form">
                            {% for card in infos.hand %}
                                <div class="cards_hand_list_item">
                                    <input class="box" type="checkbox" value="{{card}}" name="cards_hand"/>
                                    <img src="/images/cards/{{card}}.png">
                                </div>
                            {% endfor %}
                            <button type="submit" class="cards_hand_list_item">
                                <img src="/images/check.svg">
                            </button>
                        </form>
                    {% endif %}

                    {% if infos.type == "medium" %}
                        {% for card in me.visions %}
                            <div class="cards_hand_list_item">
                                <img src="/images/cards/{{card}}.png">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="game_plateau">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% if infos.type == 'medium' %}
                        {% for card in me.cards %}
                            <div class="swiper-slide">
                                <img src="/images/cards/{{ card }}.png">
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if infos.type == 'ghost' %}
                        {% for card in infos.mediums[0].cards %}
                            <div class="swiper-slide">
                                <img src="/images/cards/{{ card }}.png">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
{% include 'partials/chat.twig' %}
{% endblock %}


{% block scripts %}
<script>var username = "{{user.username}}"</script>
<script src="/js/client_chat.js"></script>
<script>
    $(function(){
        let swiper = new Swiper('.swiper-container', {
            slidesPerView : 6,
            spaceBetween : 30
        });

        {% if infos.type == 'ghost' %}
            $('#hand_form').on('submit', function(e){
                e.preventDefault();
                $('input[name=cards_hand]:checked').each(function(i,card){
                    console.log($(card).val());
                });
            });
        {% endif %}

        function initZoom(img){
            let zoom = img.magnify({
                src : img.prop('src')
            });
            return zoom;
        }

        initZoom($('.cards_hand_detail img'));

        {% if infos.type == 'medium' %}
            $('.game_plateau .swiper-slide').on('click', function(e){
                let pictureUrl = $(e.target).prop('src');
                $('.card_selected img').prop('src', pictureUrl);
            });
        {% endif %}
        
        $('.cards_hand_list_item').on('click', function(e){
            let pictureUrl    = $(e.target).prop('src');
            let detailElement = $('.cards_hand_detail img');
            detailElement.fadeOut('fast', function () {
                detailElement.prop('src', pictureUrl);
                detailElement.fadeIn('fast', function(){
                    initZoom(detailElement);
                });
            });
        });
    })
</script>
{% endblock %}