{% extends "layouts/master.twig" %}

{% block content %}
    <ul>
        {% for player in players %}
            <li style="color:{% if player.username == user.username %}red{% else %}white{% endif %}">
                {{ player.username }} | {{ player.ready ? "pret" : "pas pret" }}
            </li>
        {% endfor %}
    </ul>

    <form method="post">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="submit" value="se mettre pret">
    </form>
     <div id="chat">
            <ul id="msg_box"> 
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <form id="msg_form" method="" action="/">
                <input id="msg_writing" autocomplete="off"><button id="send">send</button>
            </form>
        </div>
{% endblock %}
{% block scripts %}
<script>var username = "{{user.username}}"</script>
<script src="/js/client_chat.js"></script>
<script>
    //let socketChat  = io('/chat');

    let gameSocket = io('/game');
    
    gameSocket.on('reload', function(){
        window.location.reload();
    });
    
</script>
{% endblock %}