{% extends "layouts/master.twig" %}
{% block bodyClass %}salon{% endblock %}
{% block content %}
 <div class="salon_list">
    <img class="logo" src="/images/mysterium.png" />
    <ul>
        {% for player in players %}
        {# style="color:" #}
            <li class=" {{ player.ready ? "ready" : "not-ready" }} ">
                <p>{{ player.username }}</p> 
                <p>{{ player.ready ? "pret" : "En attente" }}</p>
            </li>
        {% endfor %}
    </ul>
    <form method="post">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="submit" value="Se mettre pret">
    </form>
</div>
{% include 'partials/chat.twig' %}
{% endblock %}
{% block scripts %}
<script>var username = "{{user.username}}"</script>
<script src="/js/client_chat.js"></script>
<script>
    let gameSocket = io('/game');
    
    gameSocket.on('reload', function(){
        window.location.reload();
    });

    gameSocket.on('start', function(){
        window.location.href = '/game';
    });
</script>
{% endblock %}